<!DOCTYPE html>


<!--<form novalidate class="simple-form">
    <h3> Edition du médicament d'identifiant {{ ctrl.med.id }} </h3>
   
    Nom: <input type="text" ng-model="ctrl.med.nomMed" /><br />
    Administration: <input type="text" ng-model="ctrl.med.administrationMed" /><br />
    Stock: <input type="text" ng-model="ctrl.med.stockMed" /><br />
    
    <input type="submit" ng-click="ctrl.update()" value="Save" />
</form>-->

<div class="container">
    <div class="col-md-5">
        <div class="form-area">  
            <form role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Edition du médicament d'identifiant {{ ctrl.med.id }} </h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" ng-model="ctrl.med.nomMed" name="nom" placeholder="Nom" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="voie" ng-model="ctrl.med.administrationMed" name="Voie" placeholder="Voie d'administation" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="stock" ng-model="ctrl.med.stockMed" name="stock" placeholder="Stock initial" required>
                </div>

                <input type="submit" class="btn btn-primary pull-right" ng-click="ctrl.update()" value="Sauvergarder" />
                <input type="submit" class="btn btn-primary pull-right" ng-click="ctrl.raz()" value="Mettre stock à zéro" />
            </form>
        </div>
    </div>
    
    <br/>
    
</div>