<!DOCTYPE html>

<br/>

<div class="container">
    <div class="col-md-5">
        <div class="form-area">  
            <form role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Ajout d'une nouvelle prescription</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="date" ng-model="ctrl.pr.datePresc" name="date" placeholder="Date" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="prep" ng-model="ctrl.pr.preparateur" name="prep" placeholder="Preparateur" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="UF" ng-model="ctrl.pr.nomUF" name="UF" placeholder="Unité fonctionnelle" required>
                </div>
<!--                <div class="form-group">
                    <input type="text" value="texte a saisir" class="form-control" id="etat" ng-model="ctrl.ad.etat" name="etat" placeholder="Etat de la prescription" disabled required>
                </div>-->
                <div class="form-group">
                    Admission :
                    <select class="form-control" id="admi" name="admission" ng-model="ctrl.pr.admiPatient" ng-options="ad.id for ad in ctrl.ad" placeholder="Admission" required></select>
                </div>
                
                <input type="submit" class="btn btn-primary pull-right" ng-click="ctrl.update()" value="Sauvergarder" />
            </form>
        </div>
    </div>
    
    <br/>
    
</div>