<!DOCTYPE html>

<br/>

<div class="row col-lg-12">
  <div class="col-lg-6">
  
  <form novalidate class="form-horizontal">
    <h3> Détails de la prescription d'identifiant {{ ctrl.pr.idPresc }} </h3>
    
    Date: <input type="text" ng-model="ctrl.pr.datePresc" /><br />
    Etat: <input type="text" ng-model="ctrl.pr.etat" /><br />
    Préparateur: <input type="text" ng-model="ctrl.pr.preparateur" /><br />
    Unité fonctionnelle: <input type="text" ng-model="ctrl.pr.nomUF" /><br />
    
    Admission: <select name="select" ng-model="ctrl.ad" ng-options="ad.id for ad in ctrl.ad"></select><br />
    <!--Patient Nom: <input type="text" ng-model="ctrl.pr.admiPatient.nomPatient" />  Prénom: <input type="text" ng-model="ctrl.pr.admiPatient.prenomPatient" /><br />-->

    <input type="submit" ng-click="ctrl.update()" value="Save" />
    
    <div ng-show="ctrl.pr.idPresc">
        Création d'une nouvelle prescription d'identifiant {{ ctrl.pr.idPresc }} effectuée.
    </div>
    
    <br/>
    
    <a href="#/">Retour</a>
  
  </form>
  </div>
    
    
  <div class="col-lg-1"></div>
  
  <div class="col-lg-4"></div>
  
<!--  <form novalidate class="form-horizontal">
    <h3> Ajout d'un médicament </h3>
    
    Nom du médicament: <select name="select" ng-model="ctrl.medpresc.medPresc" ng-options="med.nomMed for med in ctrl.med"></select><br />
    Voie: {{med.administrationMed}}<br />
    Quantité <input type="text" ng-model="ctrl.medpresc.quantite" /><br /><br />
    <input type="submit" ng-click="ctrl.newmedpresc()" value="Ajouter" />
</form>-->
  
</div>



<br/>